audioread==2.1.8
backcall==0.1.0
certifi==2020.4.5.1
cffi==1.12.3
chainer==7.2.0
colorama==0.4.1
cupy-cuda100==7.2.0
cycler==0.10.0
DateTime==4.3
decorator==4.4.0
fastrlock==0.4
filelock==3.0.12
future==0.18.2
h5py==2.9.0
hdf5storage==0.1.15
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.13.3
joblib==0.13.2
kiwisolver==1.1.0
librosa==0.6.3
linecache2==1.0.0
llvmlite==0.29.0
logmmse==1.4
matplotlib==3.1.0
mir-eval==0.6
mkl-fft==1.0.12
mkl-random==1.0.2
numba==0.44.0
numpy==1.18.4
olefile==0.46
onnx==1.6.0
onnxruntime==1.2.0
pandas==0.25.0
parso==0.4.0
pesq==0.0.1
pickleshare==0.7.5
Pillow==6.0.0
prompt-toolkit==2.0.9
protobuf==3.11.3
ptflops==0.5.1
pycparser==2.19
Pygments==2.4.2
pyparsing==2.4.0
pypesq==1.2.4
pyreadline==2.1
PySoundFile==0.9.0.post1
pystoi==0.2.2
python-dateutil==2.8.0
python-speech-features==0.6
pytz==2019.1
PyWavelets==1.1.1
resampy==0.2.1
scikit-learn==0.21.2
scipy==1.2.1
seaborn==0.9.0
sep-eval==0.3.0
six==1.12.0
sklearn==0.0
SoundFile==0.10.3.post1
thop==0.0.30.post1908151325
torch==1.1.0
torch-dct==0.1.5
torch-stft==0.1.4
torchstat==0.0.7
torchvision==0.3.0
tornado==6.0.2
tqdm==4.26.0
traceback2==1.4.0
traitlets==4.3.2
typing-extensions==3.7.4.1
unittest2==1.1.0
utils==1.0.1
wcwidth==0.1.7
wincertstore==0.2
zope.interface==4.7.1
